.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 100px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}
.bag{
  background-color: white;
}